<% provide(:title, 'Flashcards new') %>
<h1>単語帳</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  
  </div>
</div>
<div>
/<!-- これで表示はできるが配列のまま　-->
<%= @flashcard %>

</div>