<% provide(:title, 'Flashcards new') %>
<h1>単語帳</h1>
      
<!--4/8朝-->
<%#= "問題： #{flashcard}" %>

<%= "問題: #{@mondai[:title]}" %>
<p>［類義語］<p>
<%=  "#{@ruigigo[:similar_word]}" %>
<p>解答<p>
  <div></div>
<%#= "ラジオボタン（仮）#{@mondai[:description]}" %>
<div></div>
<%#= "ラジオボタン（仮）#{@answerwrongone[:description]}" %>
<div></div>
<%#= "ラジオボタン（仮）#{@answerwrongtwo[:description]}" %>
<% @kaitou. each do |answer| %>
<%= answer %>
<% end %>

<!--コントローラの解答用の三つのdescriptionが入ってる配列をeachで回し、ラジオボタンとして出す-->