<div id="quiz-container">
  <%= render partial: 'question', locals: {
    question: @question,
    index: @index,
    choices: @choices,
    current_answer: @current_answer,
    similar_words: @similar_words
  } %>
</div>